/*? ========== Color ========== */
:root {
  --primary-color: #4d4d4d;
  --secondary-color: #737373;
  --tertiary-color: #929292;
  --light-accent: #fff;
  --dark-accent: #000;
}

/* ===== General ===== */
main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/** ========== CRUD ========== */
.back-link {
  color: var(--secondary-color);
  grid-area: back;
  padding-left: 1rem;
  text-decoration: none;
  text-shadow: 1px 1px var(--light-accent);
}

.back-link:hover {
  color: var(--dark-accent);
  text-shadow: 2px 2px var(--tertiary-color);
}

.crud-content {
  background-color: var(--primary-color);
  border: ridge 5px var(--secondary-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 85%;
  padding-bottom: 2rem;
  width: 60%;
}

.crud-content form,
.show-list {
  align-items: center;
  background-color: var(--secondary-color);
  border-bottom: ridge 5px var(--secondary-color);
  border-top: ridge 5px var(--secondary-color);
  display: flex;
  flex-direction: column;
  height: 85%;
  overflow-x: none;
  overflow-y: auto;
}

.crud-heading {
  align-items: center;
  display: grid;
  grid-template: "back header filler" 100% / 1fr 2fr 1fr;
  height: 15%;
}

.crud-heading h2 {
  grid-area: header;
  text-align: center;
  text-shadow: 1px 1px var(--light-accent);
}

.filler {
  grid-area: filler;
}

/* =================== Form Fields =================== */
h3 {
  margin: 0.25rem 0 0.5rem 0;
  text-shadow: 1px 1px var(--light-accent);
}

.form-group,
.input-group,
.input-group-row {
  display: flex;
  flex-direction: column;
}

.form-group {
  align-items: center;
  background-color: var(--primary-color);
  border: ridge 5px var(--primary-color);
  border-radius: 20px;
  margin: 0.5rem 0;
  padding: 0.25rem;
  width: 80%;
}

.form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 1rem;
  width: 100%;
}

.input-group {
  width: 45%;
}

.input-group-row {
  width: 93%;
}

.show-list {
  list-style-type: none;
  padding: 1rem 0;
}

.show-list li {
  color: var(--light-accent);
  margin: auto;
  width: 250px;
}

.show-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.delete-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.delete-text {
  color: var(--tertiary-color);
  font-size: 2rem;
  font-weight: bolder;
}

.btns {
  display: flex;
  flex-direction: row;
}

.btns a {
  text-decoration: none;
}

.delete-btn {
  align-items: center;
  background-color: var(--light-accent);
  border: solid 2px var(--dark-accent);
  border-radius: 20px;
  color: var(--dark-accent);
  cursor: pointer;
  display: flex;
  font-size: 16px;
  height: 50px;
  justify-content: center;
  margin: 0.5rem 0.5rem 1.5rem 0.5rem;
  width: 300px;
}

.delete-btn:hover,
.delete-btn:focus {
  background-color: var(--tertiary-color);
}
