/*? ========== Color ========== */
:root {
  --primary-color: #4d4d4d;
  --secondary-color: #737373;
  --tertiary-color: #fff;
  --accent-color: #000;
}

/** ========== Global ========== */
/* ===== General ===== */
* {
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  color: var(--tertiary-color);
  font-family: "Playfair Display SC", serif !important;
}

img {
  border-radius: 50%;
}

input {
  background-color: var(--tertiary-color);
  border: 2px solid var(--accent-color);
  border-radius: 20px;
  padding: 0 1rem;
}

label {
  color: var(--tertiary-color);
}

main {
  height: 85vh;
}

/* ===== Classes ===== */

.btn {
  margin: 0.5rem 0.5rem 1.5rem 0.5rem;
  width: 150px;
  border-radius: 20px;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
  color: var(--tertiary-color);
}

.info {
  font-weight: bold;
  margin-left: 1rem;
}

/** ========== Header ========== */
/* ===== General ===== */
header {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  height: 10vh;
  padding: 0.5rem;
}

/* ===== Classes ===== */
.heading {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-basis: 80%;
}

.heading h1,
.heading h2,
.heading span,
.user-text span,
.user-text a {
  color: var(--tertiary-color);
  text-shadow: 2px 2px var(--accent-color);
}

.heading h1,
.heading h2 {
  margin: 0 0.5rem;
}

.heading h1,
.heading span {
  font-size: 2.5rem;
}

.heading h2 {
  font-size: 1.5rem;
  padding-top: 0.5rem;
}

.heading span {
  margin-bottom: 0.5rem;
}

.user {
  display: flex;
  flex-direction: row;
  flex-basis: 20%;
  justify-content: end;
}

.user-text {
  align-items: end;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-text span {
  text-align: end;
}

.user-text a {
  text-decoration: none;
}

.user-text a:hover {
  color: var(--secondary-color) !important;
  font-weight: bold;
  text-shadow: 2px 2px var(--accent-color);
}

.user-text a:visited {
  color: var(--tertiary-color);
}

.user-photo {
  border-radius: 50%;
  height: 50px;
  margin: 0 0.5rem;
  width: 50px;
}

/** ========== Footer ========== */
/* ===== General ===== */
footer {
  align-items: center;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  display: flex;
  height: 5vh;
  justify-content: center;
  padding: 0.5rem;
}

/** ========== Errors ========== */
/* ===== Classes ===== */
.error {
  color: hsl(0, 100%, 50%);
  font-size: 0.9rem;
  margin: 0 1.5rem;
}

.errors-container {
  background-color: hsl(0, 100%, 90%);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin: 0.5rem 1rem;
  padding: 0.25rem;
}

.errors-list {
  margin: 0;
}

.hidden {
  display: none;
}

.invalid {
  color: var(--accent-color);
  background-color: hsl(0, 100%, 90%);
  border: 2px solid hsl(0, 100%, 50%);
}
