/*? ========== Color ========== */
:root {
  --primary-color: #4d4d4d;
  --secondary-color: #737373;
  --tertiary-color: #929292;
  --light-accent: #fff;
  --dark-accent: #000;
}

/* ===== General ===== */
main {
  display: flex;
  flex-direction: row;
}

/** ========== Search ========== */
/* ===== Classes ===== */
.current-employee {
  background-color: var(--tertiary-color) !important;
  color: var(--dark-accent) !important;
}

.employee {
  align-items: center;
  background-color: var(--secondary-color);
  border: ridge 2px var(--primary-color);
  color: var(--light-accent);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  padding: 0.25rem;
  width: 100%;
}

.employee:hover,
.current-employee:hover {
  background-color: var(--tertiary-color) !important;
  color: var(--dark-accent) !important;
}

.employee-identity {
  align-items: center;
  display: flex;
}

.employee-link {
  color: var(--tertiary-color);
  display: inline-block;
  text-decoration: none;
  width: 100%;
}

.employee-link,
.employee-identity {
  height: 60px;
}

.employee-list {
  height: 100%;
  margin: 0;
  padding: 0;
}

.employee-list-container {
  border-top: ridge 5px var(--secondary-color);
  height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

.list-photo {
  background-color: var(--light-accent);
  height: 40px;
  margin: 0 0.5rem;
  width: 40px;
}

.search {
  background-color: var(--primary-color);
  border: ridge 5px var(--secondary-color);
  flex-basis: 20%;
  height: 100%;
}

.search-tool {
  align-items: center;
  display: flex;
  height: 10%;
  justify-content: center;
  margin: 0%;
}

.new-link {
  text-decoration: none;
}

.new-link li {
  background-color: var(--primary-color);
  border: ridge 2px var(--secondary-color);
  color: var(--secondary-color);
  font-weight: bolder;
  padding: 0.25rem 0;
  text-align: center;
  text-shadow: 1px 1px var(--light-accent);
}

.new-link li:hover {
  background-color: var(--tertiary-color);
  color: var(--dark-accent);
}

.user-indicator {
  justify-self: end;
  margin: 0 0.25rem;
}

/* ===== id ===== */

#searchbar {
  background-color: var(--light-accent);
  border: ridge 2px var(--dark-accent);
  border-radius: 20px;
  margin: 0.5rem 0.25rem;
  padding: 0.5rem;
  width: 80%;
}

/** ========== Employee Info ========== */
/* ===== Classes ===== */
.basic-info {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 70%;
  justify-content: space-evenly;
}

.basic-list {
  list-style-type: circle;
}

.company-logo {
  height: 100px;
  width: 100px;
}

.crud-links {
  width: 100%;
}

.crud-link {
  background-color: var(--primary-color);
  border: ridge 5px var(--secondary-color);
  color: var(--secondary-color);
  display: inline-block;
  font-weight: bolder;
  padding: 0.25rem 0;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px var(--light-accent);
  width: 50%;
}

.crud-link:hover {
  background-color: var(--tertiary-color);
  color: var(--dark-accent);
}

.employee-info {
  border: ridge 5px var(--secondary-color);
  display: flex;
  flex-basis: 80%;
  flex-direction: column;
  height: 100%;
}

.employee-photo {
  border: ridge 5px var(--secondary-color);
  height: 250px;
  width: 250px;
}

.extra-btn,
.extra-btn-disabled {
  align-items: center;
  background-color: var(--secondary-color);
  border: 0;
  border-radius: 20px;
  color: var(--light-accent);
  display: flex;
  height: 50px;
  justify-content: center;
  list-style: none;
  overflow: hidden;
  padding: 0 1rem;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 350px;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.extra-btn:focus {
  background-color: var(--accent-color);
}

.extra-btn:hover {
  background-color: var(--tertiary-color);
  color: var(--dark-accent);
  cursor: pointer;
}

.extra-info {
  display: flex;
  flex-direction: row;
  height: 15%;
  justify-content: space-evenly;
}

.information {
  height: 100%;
}

.list-container {
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 20px;
  display: flex;
  height: 70%;
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
}

.list-item {
  color: var(--light-accent);
  font-size: 1.5rem;
  margin: 1.5rem 0;
}
