/*? ========== Color ========== */
:root {
  --primary-color: #4d4d4d;
  --secondary-color: #737373;
  --tertiary-color: #fff;
  --accent-color: #000;
}

/* ===== General ===== */
h2 {
  font-size: 1.6rem;
}

input {
  height: 1.5rem;
  width: 200px;
}

label {
  font-size: 1.3rem;
  margin: 0 0.5rem 0 0;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ===== Classes ===== */
.container {
  background-color: var(--secondary-color);
  border: ridge 5px var(--primary-color);
  border-radius: 20px;
  min-height: 260px;
  width: 500px;
}

.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-container {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.input-group {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0;
  justify-content: center;
}

.logo {
  height: 75px;
  margin: 0.5rem;
  width: 75px;
}

.user-text {
  color: var(--tertiary-color);
}

.user-text a:visited {
  color: var(--tertiary-color);
}
