main,
.login-form {
  display: flex;
  flex-direction: column;
}

.login-header,
.input-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

h2,
.input-group label {
  color: #fff;
}

.container {
  width: 500px;
  min-height: 260px;
  background-color: #737373;
  border: ridge 5px #4d4d4d;
  border-radius: 20px;
}

main {
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: 1.6rem;
  font-family: "Playfair Display SC", serif;
}

.logo {
  margin: 0.5rem;
  width: 75px;
  height: 75px;
}

.user-text a:link {
  color: #fff;
}

.user-text a:visited {
  color: #fff;
}

.login-form {
  justify-content: center;
  align-items: center;
}

.input-group {
  margin: 0.5rem 0;
  justify-content: center;
}

label {
  margin: 0 0.5rem 0 0;
  font-size: 1.3rem;
}

input {
  height: 1.5rem;
  width: 200px;
  border: 2px solid #000;
  border-radius: 20px;
  padding: 0 1rem;
}
