main,
.login-form {
  display: flex;
  flex-direction: column;
}

header,
.input-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

h2,
.input-group label {
  color: #fff;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e6e6;
}

main {
  width: 500px;
  min-height: 260px;
  background-color: #737373;
  border: ridge 5px #4d4d4d;
  border-radius: 20px;
}

h2 {
  font-size: 1.8rem;
}

img {
  width: 100px;
  height: 100px;
}

.login-form {
  justify-content: center;
  align-items: center;
}

.input-group {
  margin: 0.5rem 0;
  justify-content: center;
}

label {
  margin: 0 0.5rem 0 0;
  font-size: 1.3rem;
}

input {
  height: 1.5rem;
  width: 200px;
  border: 2px solid #000;
  border-radius: 20px;
  padding: 0 1rem;
}

button {
  margin: 0.5rem;
  width: 100px;
  border-radius: 20px;
}

.errors-container {
  margin: 0.25rem 1rem;
  background-color: hsl(0, 100%, 90%);
  border-radius: 20px;
}

.error {
  color: hsl(0, 100%, 50%);
}

.invalid {
  background-color: hsl(0, 100%, 90%);
  color: #000;
  border: 2px solid hsl(0, 100%, 50%);
}
